{% extends 'base.html' %}

{% block content %}
  <br/>
  <div>
        <a class="btn btn-secondary" href="{% url 'add_post' %}" role="button">Add Post</a>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% if object_list %}
          {% for each in manage_post_list %}
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text">{{each.title}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'edit_post' each.id %}" role="button">Edit</a>
                      <a class="btn btn-sm btn-outline-secondary" href="{% url 'delete_post' each.id %}" role="button">Delete</a>
                    </div>
                  </div>
              </div>
            </div><!-- /.col-lg-4 -->
          {% endfor %}
        {% else %}
            No Post Found
        {% endif %}
      </div>
    </div><!-- /.row -->
  </div>
{% endblock %}